# User input

In [ ]:
answer = input("Please write something: ")
print("You wrote:", answer)
print("Data type: ", type(answer))

# Conditionals

## if

In [ ]:
import random

jokes = [
    "What do you get when you cross a snowman with a vampire? Frostbite!",
    "What cheese is made backwards? Edam!",
    "What do lawyers wear to courts? Lawsuits!",
    "What do you call a grizzly bear with no teeth? A gummy bear"
]

answer = input("Would you like hear a joke? ")

if answer == "yes":
    print(random.choice(jokes))

## if, else

In [ ]:
price = int(input("What is the price? "))

if price > 50:
    print(f"Price is high at {price}, sell now")
else:
    print(f"Price is low at {price}, buy now")

## if, elif, else

In [ ]:
price = int(input("What is the price? "))

if price > 80:
    print(f"Price is high at {price}, sell now")
elif price < 20:
    print(f"Price is low at {price}, buy now")
else:
    print("Price is stable: do nothing")

# Operators

## Equality: `==`

In [ ]:
answer = "yes"
print(answer == "yes")  # True
print(answer == "no")  # False

## Not equality: `!=`

In [ ]:
answer = "no"
print(answer != "yes")  # True
print(answer != "no")  # False

## Strict comparison: `>`, `<`

In [ ]:
print(10 > 12)  # False
print(10 < 12)  # True

## Non-strict comparison: `>=`, `<=`

In [ ]:
print(1 + 1 + 1 >= 3)
print(1 + 1 + 1 <= 3)

## Negation: `not`

In [ ]:
print(not True)  # False
print(not False)  # True
print(not 1 + 1 + 1 >= 3)  # False

## And: `and`

In [ ]:
username = "admin"
password = "1234"
print(username == "admin" and password == "1234")  # True
password = "wrong password"
print(username == "admin" and password == "1234")  # False

## Or: `or`

In [ ]:
answer = "yes"
print(answer == "Yes" or answer == "yes")  # True
print(answer == "No" or answer == "no")  # False

## Inclusion: `in`

This tests whether a value is in an iterable, e.g. an element in a list or a character in a string.

In [ ]:
print("d" in "hello")  # False
print("d" in "goodbye")  # True
print("d" in "GOODBYE")  # False

nyc = ["Manhattan", "Brooklyn", "Bronx", "Queens", "Staten Island"]
print("Manhattan" in nyc)  # True

## Logic practice

Read each line, think what the boolean should be, then run it to see if you were right. With parentheses, the math rules apply: evaluate inside parentheses first.

In [ ]:
True and True
False and True
(1 == 1) and (2 == 1)
"love" == "love"
(1 == 1) or (2 != 1)
True and (1 == 1)
False and (0 != 0)
True or (1 == 1)
"time" == "money"
(1 != 0) and (2 == 1)
"I Can't Believe It's Not Butter!" != "butter"
"one" == 1
not (True and False)
not ((1 == 1) and (0 != 1))
not ((10 == 1) or (1000 == 1000))
not ((1 != 10) or (3 == 4))
not (("love" == "love") and ("time" == "money"))
(1 == 1) and (not (("one" == 1) or (1 == 0)))
("chunky" == "bacon") and (not ((3 == 4) or (3 == 3)))
(3 == 3) and (not (("love" == "love") or ("Python" == "Fun")))

# Sequence functions (for strings and lists)

`len()` gives you the length of a sequence

`sorted()` sorts a sequence

`" ".join()` converts a list to a string, using space as a separator

`"".join()` converts a list to a string, with the empty string as a separator (no separation)

In [ ]:
a_string = "Columbia University"
a_list = ["a", "b", "c"]

print(len(a_string))
print(len(a_list))

sorted_string = sorted(a_string)
sorted_list = sorted(a_list)

print(sorted_string)
print(sorted_list)

print(" ".join(sorted_string))
print("".join(sorted_string))

# String methods

Methods are functions that run with a period after an object, like ".lower()" on a string.

In [ ]:
name = "Columbia University"
print(name.upper())  # Convert to uppercase
print(name.lower())  # Convert to lowercase
print(name.title())  # Convert to title case (first letter uppercase, others lowercase)
print(name.count("i"))  # Count number of occurrences
print(name.replace(" ", ""))  # Replace all occurrences of the 1st argument with the 2nd

name = "  Columbia University  "
print(name)
print(name.strip())  # Removes spaces from start and end